@model IEnumerable<OrdersSystem.Web.Areas.Admin.ViewModels.Categories.CategoryViewModel>

@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}

<h2>All Categories</h2>
<hr />
@if (TempData["Success"] != null)
{
    <div class="alert alert-dismissible alert-success notification col-md-3 pull-right">
        <strong>@TempData["Success"]</strong>
    </div>
}
@if (TempData["Warning"] != null)
{
    <div class="alert alert-dismissible alert-warning notification col-md-3 pull-right" role="alert">
        <strong>@TempData["Warning"]</strong>
    </div>
}

@Html.ActionLink("Add New Category", "Add", null, new { @class = "btn btn-primary" })
<br />
<br />
@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.Name).Titled("Name").SetWidth(110).Sortable(true).Filterable(true);
    columns.Add().Titled("").Encoded(false).Sanitized(false).SetWidth(30)
        .RenderValueAs(x => Html.ActionLink("Edit", "Edit", new { x.Id }, new { @class = "btn btn-primary" }));
    columns.Add().Titled("").Encoded(false).Sanitized(false).SetWidth(30)
        .RenderValueAs(x => Html.ActionLink("Delete", "Delete", new { id = x.Id }, 
            new { onclick = "return confirm('Do you really want to delete this category?')", @class = "btn btn-danger" }));
}).WithPaging(6)

