@model OrdersSystem.Web.ViewModels.Repairs.RepairsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

@Html.DisplayForModel("RepairsViewModel")

@if (User.IsInRole("Boss") || User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
}


