@model OrdersSystem.Web.ViewModels.Repairs.RepairsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

@Html.Partial("_TempDataPartial")

@Html.DisplayForModel("RepairsViewModel")

@Html.Partial("_EditButtonPartial")

@section scripts{
    <script>
        function hideButton() {
            $("#ajax-button").hide();
        }
    </script>
}


