@model OrdersSystem.Web.ViewModels.OutOrders.OutOrderViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

@Html.Partial("_TempDataPartial")

@Html.DisplayForModel("OutOrderViewModel")

@if (User.IsInRole("Boss") || User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

