@model OrdersSystem.Web.ViewModels.OutOrders.OutOrderViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />
@if (TempData["Success"] != null)
{
    <div class="alert alert-dismissible alert-success notification col-md-3 pull-right">
        <strong>@TempData["Success"]</strong>
    </div>
}

@Html.DisplayForModel("OutOrderViewModel")

@if (User.IsInRole("Boss") || User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

